.debug-asm-breakpts-active {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.debug-asm-breakpts-inactive {
  height: 15px;
  width: 15px;
  background-color: #dd7b79;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.debug-asm-header {
  background-color: #007054;
  color: #f3f2f1;
  font-family: "DM Sans", -apple-system, "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
}

.debug-asm-body {
  color: #f3f2f1;
  background-color: #292a2f;
  padding: 20px;
  line-height: 27px;
  height: 55vh;
}
