.debug-container {
  margin: 15px 15px;
  box-sizing: content;
  display: grid;
  grid-template-rows: auto 60px;

  /* display: flex; */

  /* height: 80%; */

  /* height: 100%; */

  /* display: grid; */

  /* display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-direction: column; */

  /* background-color: red; */
}

.debug-code {
  display: grid;
  grid-template-columns: 40% auto;

  /* height: 100%; */

  /* grid-template-rows: 72vh auto;
  height: 72vh; */
  grid-column-gap: 15px;
}
