modal .modal-blackBG {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  z-index: 1;

  /* top: 0;
  left: 0; */
}

.popup {
  color: #007054;
  background-color: #f3f2f1;
  width: 20vw;
  position: fixed;
  z-index: 2;
  padding: 5%;
  font-family: "DM Sans", -apple-system, "Helvetica Neue", sans-serif;
  margin-top: 8%;

  /* height: 50vh;
  top: 0;
  left: 40vw; */
}

.popupContainer {
  display: flex;
  justify-content: center;

  /* align-items: center; */
}

.instructions {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.closeContainer {
  grid-template-columns: 90% auto;
  margin-top: -10%;
  margin-right: -15%;
}

.close {
  grid-column-start: 2;
  padding: 4px;
}

.close:hover {
  cursor: pointer;

  /* background: rgba(221, 123, 121, 0.4);
  border-radius: 10px; */
}
