/* TOOLBAR  */
.debug-toolbar-title {
  font-family: "DM Sans", -apple-system, "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.debug-toolbar-panel {
  color: #f3f2f1;
  display: grid;
  background-color: #007054;
  padding: 0% 3%;
  grid-template-columns: 40% auto auto auto auto;
  margin-bottom: -3px;
  /* margin: 0 2.7%; */

  /* float: left; */
}

.debug-toolbar-btn {
  background-color: #007054;
  color: #f3f2f1;
  border: none;
  font-family: "DM Sans", -apple-system, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 200;
  padding: 12px 16px;
  outline: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.debug-toolbar-btn:disabled {
  opacity: 0.3;
}

.debug-toolbar-btn:hover:enabled {
  background-color: #005843;
}

/* .debug-toolbar-btn:active {
  outline: solid 3px #F3F2F1;
  outline-offset: -3px;
}  */
