.topbar-container {
  background-color: #007054;
  display: grid;
  grid-template-columns: 8% 20% auto 5%;
  padding: 12px 10px;
}
.topbar-heading {
  color: #f3f2f1;
  font-family: "DM Sans", -apple-system, "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.topbar-info-btn {
  margin-top: 3px;
  width: fit-content;
  background-color: none;
  border: none;
}

.topbar-info-btn:hover{
    cursor: pointer;
}